body {
 margin: 0;
}
.margin {
  margin: 100px;
}

.table {
  width: 100%;
  text-align: left;
}

.table > thead {
  font-weight: 600;
  background-color: chocolate;
}

.table td {
  padding: 10px 0;
}

#menu {
  background-color: chocolate;
  padding: 20px;
  font-size: 20px;
}

#menu a {
  color: rgb(233, 183, 21);
  padding-right: 1vw;
}

/* LOADER */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid chocolate;
  border-color: chocolate transparent chocolate transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}